version: '3.8'

services:
  db:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: hospital-db
    environment:
      - ACCEPT_EULA=Y
      - MSSQL_SA_PASSWORD=${DB_PASSWORD}
    ports:
      - "${DB_PORT}:1433"
    volumes:
      - sql_data:/var/opt/mssql
    healthcheck:
      test: [ "CMD-SHELL", "/opt/mssql-tools/bin/sqlcmd -S localhost -U sa -P ${DB_PASSWORD} -Q 'SELECT 1' || exit 1" ]
      interval: 10s
      retries: 10
      start_period: 10s
      timeout: 3s

  db-init:
    image: mcr.microsoft.com/mssql-tools
    container_name: hospital_db_init
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - ./init.sql:/init.sql
    command: >
      /bin/bash -c "sleep 30 && /opt/mssql-tools/bin/sqlcmd -S hospital-db -U sa -P ${DB_PASSWORD} -i /init.sql"

  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: hospital_app
    ports:
      - "${APP_PORT}:8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ConnectionStrings__DefaultConnection=Server=hospital-db;Database=${DB_NAME};User Id=sa;Password=${DB_PASSWORD};Encrypt=False;TrustServerCertificate=True;
    depends_on:
      db:
        condition: service_healthy

volumes:
  sql_data:
