apiVersion: apps/v1
kind: Deployment
metadata:
  name: hospital-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: hospital-app
  template:
    metadata:
      labels:
        app: hospital-app
    spec:
      containers:
      - name: hospital-app
        image: hospital-management-system:latest # Ensure you build this image locally or push to a registry
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 8080
        env:
        - name: ASPNETCORE_ENVIRONMENT
          value: "Development"
        - name: ASPNETCORE_HTTP_PORTS
          value: "8080"
        - name: ConnectionStrings__DefaultConnection
          valueFrom:
            secretKeyRef:
              name: mssql-secret
              key: CONNECTION_STRING
---
apiVersion: v1
kind: Service
metadata:
  name: hospital-app
spec:
  selector:
    app: hospital-app
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8080
      nodePort: 30080
  type: NodePort
